.footer {
    height: 300px;
    width: 100%;
    background-color: #6d0909;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    .studio__info {
      display: flex;
      flex-direction: column;
      gap: 12px;
  
      .studio__desc {
        max-width: 340px;
        p {
          color: #d9d9d9;
          font-family: "Raleway", "san-serif";
          font-weight: 400;
          line-height: 24px;
          font-size: 18px;
        }
      }
      .social__icons {
        display: flex;
        gap: 10px;
        align-items: center;
  
        svg {
          cursor: pointer;
        }
      }
    }
  
    .logo__container {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
  
      p {
        font-family: "Crimson Text", serif;
        color: #ffffff;
      }
    }
    .quick__links {
      display: flex;
      gap: 60px;
  
      .link__container {
        font-family: "Raleway", "san-serif";
        color: #d9d9d9;
        text-transform: capitalize;
  
        p {
          font-size: 20px;
          font-weight: 600;
        }
        ul {
          padding: 0;
          list-style: none;
          li {
            margin-bottom: 15px;
            width: fit-content;
            cursor: pointer;
            position: relative;
  
            &::before {
              position: absolute;
              content: "";
              left: 0;
              width: 0;
              height: 0.6px;
              background-color: #ffffff;
              bottom: 0;
            }
  
            &:hover::before {
              width: 100%;
              transition: all 0.2s ease-in;
            }
          }
        }
      }
    }
  }
  
  @media (max-width: 1024px) {
    .footer {
      padding: 15px;
    }
    @media (max-width: 767px) {
      .footer {
        flex-direction: column;
        height: auto;
        align-items: flex-start;
        padding: 25px;
        gap: 30px;
      }
    }
  
    @media (max-width: 600px) {
      .footer {
        .quick__links {
          gap: 20px;
  
          .link__container {
            p {
              font-size: 18px;
            }
            li {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  